@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

:root {
    --main-color: #000;
    --main-font: 'Roboto Mono';
}

* {
    margin: 0;
    font-family: var(--main-font), monospace;
}